In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

# URL of the webpage
url = 'https://ourworldindata.org/grapher/national-gdp-wb?tab=table&time=earliest..2021'
# Set up Chrome webdriver options
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
# Add additional options as needed

# Initialize Chrome webdriver
driver = webdriver.Chrome(options=options)

# Open the webpage
driver.get(url)

# Find the first table element
first_table = driver.find_element(By.TAG_NAME, 'table')

# Extract the table data
table_data = []
rows = first_table.find_elements(By.TAG_NAME, 'tr')
for row in rows:
    # Extract text from each cell in the row
    cells = row.find_elements(By.TAG_NAME, 'td')
    row_data = [cell.text.strip() for cell in cells]
    # Append row data to table_data if not empty
    if row_data:
        table_data.append(row_data)

# Close the webdriver
driver.quit()

# Add an empty row at the beginning of the table data
table_data.insert(0, [''] * len(table_data[0]))

# Convert the table data into a pandas DataFrame
df = pd.DataFrame(table_data[1:], columns=table_data[0])  # Assuming the first row contains column headers

# Rename the columns
column_names = ['Country/Area', '1990', '2021', 'Absolute Change', 'Relative Change']
df.columns = column_names

# Print the DataFrame
df

,Country/Area,1990,2021,Absolute Change,Relative Change
0,Afghanistan,,"$60,803,043,000",,
1,Albania,"$15,867,113,000","$40,822,317,000","+$24,955,204,000",+157%
2,Algeria,"$225,295,880,000","$487,716,160,000","+$262,420,280,000",+116%
3,Angola,"$68,234,265,000","$203,867,960,000","+$135,633,695,000",+199%
4,Antigua and Barbuda,"$966,678,460","$1,782,760,200","+$816,081,740",+84%
...,...,...,...,...,...
204,North America (WB),"$11,000,011,000,000","$22,968,424,000,000","+$11,968,413,000,000",+109%
205,South Asia (WB),"$2,240,676,600,000","$11,981,273,000,000","+$9,740,596,400,000",+435%
206,Sub-Saharan Africa (WB),"$1,514,113,200,000","$4,390,363,600,000","+$2,876,250,400,000",+190%
207,Upper-middle-income countries,"$11,503,600,000,000","$45,539,240,000,000","+$34,035,640,000,000",+296%
208,World,"$51,333,923,000,000","$134,080,350,000,000","+$82,746,427,000,000",+161%

In [ ]:
# Save the DataFrame to a CSV file
df.to_csv('national_gdp_data.csv', index=False)